<p>
  <strong>Album:</strong>
  <%= @track.album.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @track.title %>
</p>

<%= link_to 'Edit', edit_track_path(@track), class: "btn btn-default"  %> |
<%= link_to 'Back', tracks_path, class: "btn btn-default"  %>
