/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_normalize
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap-sprockets";
 @import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}
body {
  height: 100%;
  margin-bottom: 60px;
  margin: 0 auto;
  background-color: #fff;
  color: #333;
  font-size: 13px;
  line-height: 18px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}
#notice {
  font-family: arial;
  color: green;
  text-align: center;

}

#alert {
  font-family: arial;
  color: red;
  text-align: center;

}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }

  td, th {
  padding: 5px;
  }
}

p, ol, ul, td {
  
  font-size: 13px;
  line-height: 18px;
}

.footer {
  padding: 10px;
}

.container{
    margin: 0 auto;
}

.artist{
  height: 150px; 
  width:145px;
}

.artist-show{
  height: 225px;
  width: 175px;
}

